<!-- templates/inicio.html -->
{% extends "base.html" %}

{% block content %}
    <div>
        <ul>
            {% for post in posts %}
            <div>
                <li class="list-unstyled mt-3">
                    <a href="{{ url_for('post', id=post[0]) }}" class="break-word font-weight-bold text-dark text-decoration-none">{{ post[1] }}</a>
                </li>
                <div>
                    {% if quant_comentarios[post[0]] == 1  %}
                        <small class="">{{ quant_comentarios[post[0]] }} comentário · </small>
                    {% else %}
                        <small class="">{{ quant_comentarios[post[0]] }} comentários · </small>
                    {% endif %}
                    <small class="">{{ post[3] }}</small>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
